@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.title_highlight {
    color: #22D4FD;
}

.presentation {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation_content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation_content_title {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentation_content_text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentation_content_links{
    display: flex;
    justify-content: space-between;
}

.presentation_content_links_link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
}

.text_highlight {
    color: #22D4FD;
}