@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header{
    padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.presentation {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation_content_title {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.title_highlight {
    color: var(--cor-terciaria);
}

.presentation_content_text {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.presentation_content_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation_content_links_subtitle{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.presentation_content_links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.presentation_content_links_link:hover {
    
    background-color: var(--cor-hover);
}

.presentation_image{
    width: 50%;
    border-radius: 25px;
    border: 4px solid var(--cor-terciaria);
}

.text_highlight {
    color: var(--cor-terciaria);
}

footer{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    header{
        padding: 10%;
    }

    .header_menu {
        justify-content: center;
    }

    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation_content {
        width: auto;
    }
}